{% extends 'base.html' %}
{% block content %}
<div class="time"><span id="bar"></span><p id="time_left" class="text-right">...</p></div>
<div class="card-in">
    {% if questions_missed %}
    <h3>Quyidagi savollar javobsiz qolgan</h3>
    <ol>{% for question in questions_missed %}
        <li value="{{ question.number }}"><b>{{question.text}}</b></li>
        <span>
            <a class="pull-right" href="{% url 'assessment:test' forloop.counter %}">
                <span class="glyphicon glyphicon-edit"></span> Tahrirlash
            </a>
        </span>
        <span class="red"><span class="glyphicon glyphicon-unchecked"></span> Javob tanlanmagan</span>
        <br>
        {% endfor %}
    </ol>
    {% endif %}
    <p>Agar javoblaringiz qat'iy bo'lsa "Testni yakunlash" tugmasini bosing</p>
    <div class="text-center">
        <a class="btn btn-primary" href="{% url 'assessment:finish' %}">Testni yakunlash</a>
        <a class="btn" href="{% url 'assessment:test' 1 %}">Ortga qaytish</a>
    </div>
</div>
<script>
var distance = {{ time_left }};
var testTime = {{test_time}};
</script>
{% endblock %}
