{% extends 'base.html' %}
{% block content %}
<div class="time"><span id="bar"></span><p id="time_left" class="text-right">...</p></div>
<div class="card-in">
    <h3>Iltimos Javoblaringizni ko'rib chiqing va tasdiqlang</h3>
    <ol>
        {% for question in question_set %}
        <li><b>{{question.text}}</b></li><span>Javobingiz: <a class="pull-right" href="{% url 'assessment:test' forloop.counter %}"><span class="glyphicon glyphicon-edit"></span> Tahrirlash</a></span>
        <ul>
            {% if question.choice %}{% for choice in question.choice %}
            <li>{{choice}}</li>
            {% endfor %}{% else %}
            <span class="red"><span class="glyphicon glyphicon-unchecked"></span> Tanlanmagan</span>
            {% endif %}
        </ul><br>
        {% endfor %}
    </ol>
    <div class="text-center"><a class="btn btn-primary" href="{% url 'assessment:finish' %}">Tasdiqlash !</a></div>
</div>
<script>
var distance={{ time_left }};
var testTime = {{test_time}};
var bar = document.getElementById('bar');
bar.setAttribute("style", "width:" + (Math.min((1-distance/testTime)*100),100) + "%");
</script>
{% endblock %}
