{% extends 'base.html' %}
{% block content %}
{% load i18n %}
<div class="card-in">
    {% if exams %}
    <p>{% trans "Siz topshirishingiz kerak bo'lgan imtihonlar ro'yhati:" %}</p>
    <form action="{% url 'assessment:start' %}" method="POST">
        <table class="table"><tr><th></th><th>{% trans "Mavzular" %}</th><th>{% trans "Oxirgi muhlat" %}</th><th>{% trans "Davomiyligi" %}</th><th></th></tr>

            {% for exam in exams %}
            <tr>
                <td><input id="exam{{forloop.counter}}" type="radio" name="examid" value="{{ exam.id }}"
                           {% if forloop.counter == 1 %} checked="checked" {% endif %}></td>
                <td><label for="exam{{forloop.counter}}">{% for category in categories %}{%if forloop.counter != 1 %}, {% endif %}{{ category }}{% endfor %}</label></td>
                <td><label for="exam{{forloop.counter}}">{{ exam.deadline}}</label></td>
                <td><label for="exam{{forloop.counter}}"><span id="time{{ forloop.counter }}"></span></label></td>
                <td><label for="exam{{forloop.counter}}">{{ exam.description|default_if_none:"..."|linebreaksbr }}</label></td>
            </tr>
            {% endfor %}

        </table>
        <p>{% trans "Agar tayyot bo'lsangiz Boshlash tugmasini bosing." %}</p>

        {% csrf_token %}
        <div class="text-center">
            <input type="submit" value="Boshlash" class="btn btn-lg btn-success" />
        </div>
    </form>
    {% else %}
    {% if error == 404 %}
    <p>{% trans "Foydalanuvchi tiliga mos imtihonlar topilmadi" %}</p>
    {% else %}
    <p>{% trans "Hozirda Siz uchun imtihonlar belgilanmagan" %}</p>
    {% endif %}
    {% endif %}
</div>
{% endblock %}
{% block script %}<script>{% for exam in exams %}
       document.getElementById('time{{ forloop.counter }}').innerHTML = timeToString({{ exam.test_time.seconds }});
  {% endfor %}
</script>
{% endblock %}