{% load static %}
<!doctype html>

<html lang="uz">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">


</head>
<body>
<div class="container">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{% url 'assessment:tester' %}" class="navbar-brand" >Tester Zone</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ user.first_name }} {{ user.last_name }}</a></li>
                <li><a href="#">{{ user.testee.group.name|default_if_none:"Xodim guruhga kiritilmagan" }}</a></li>
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Chiqish</a></li>
            </ul>
        </div>
    </nav>
    <div class="card">
        <div class="card-in">
            {% if error == 403 %}
            <p>Siz uchun ruhsat berilmagan</p>
            {% else %}
            {% block content %}
            {% endblock %}
            {% endif %}
        </div>
    </div>
</div>
<footer class="footer-copyright text-center">© 2018 Dilshodjon Abduvakilov</footer>
<script src="{% static 'js/main.js' %}"></script>
{% block script %}
{% endblock %}
</body>
</html>
