{% extends 'base.html' %}
{% block content %}
<div class="time"><span id="bar"></span><p id="time_left" class="text-right">...</p></div>
<div class="card-in">
    <h3>{{ question_no }}. {{ question.text }}</h3>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% else %}

    <form action="{% url 'tanla' question_no %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
        <div class="{{type}}"><label><input type="{{type}}" name="choice" value="{{ choice.id }}"
               {% for c in choosen %}
               {% if choice.id == c %} checked="checked" {% endif %}
               {% endfor %} />
        {{ choice.text }}</label><br></div>
        {% endfor %}
        <p>{{error_message|default:""}}</p>
        <div class="text-center"><div class="red" id="valErr"></div><input type="submit" class="btn btn-success" value="Tanla" onclick="return check()"/></div>
    </form>

    <div class="text-center pages">
        {% if prev %}<a class="btn btn-xs btn-default" href="{% url 'test' prev %}"><span class="glyphicon glyphicon-chevron-left"></span> Avvalgisi</a>{% endif %}
        {% for question in questions %}
        <a {% if question %}class="done"{% endif %} href="{% url 'test' forloop.counter %}">
            {{ forloop.counter }}
        </a>
        {% endfor %}
        {% if next %}<a class="btn btn-xs btn-default" href="{% url 'test' next %}">Keyingisi <span class="glyphicon glyphicon-chevron-right"></span></a>{% endif %}
    </div>
</div>
<script>
var distance={{ time_left }};
var testTime = {{test_time}};
var bar = document.getElementById('bar');
bar.setAttribute("style", "width:" + ((1-distance/testTime)*100) + "%");
</script>
<script src="/static/js/main.js"></script>
{% endif %}
{% endblock %}
