{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
<p>
Qaysi guruhga ko'chirib o'tkizmoqchisiz?
</p>
<table>
  {{ form.as_table }}
<tr>
<td></td><td>Ehtiyot bo'ling. Ushbu bilan siz mavjud Guruhlarni o'chirib yuborishingiz mumkin</td>
</tr>
  {% for group in groups %}
        <input type="hidden" name="_selected_action" value="{{ group.pk }}" />
  {% endfor %}
  <input type="hidden" name="action" value="replace_group" />
  <tr><td></td><td><input type="submit" name="apply" value="Ko'chirish"/></td></tr>
</table>
</form>
{% endblock %}