{% if user.is_authenticated %}
Siz <b>{{ user.get_username }}</b> sifatida kirdingiz.<br>
{% if user.testee.group.name %}
Sabvollar toifasi: <b>{{ user.testee.group.name }}</b><br>
Savollarni faqat o'z bilimlaringizga tayangan xolda yeching<br>

<p>Siz topshirishingiz kerak bo'lgan imtihonlar ro'yhati.</p>

{% if exams %}
<form action="{% url 'start' %}" method="POST">

    {% for exam in exams %}
        <input type="radio" name="examid" id="exam{{ exam.id }}" value="{{ exam.id }}"
               {% if forloop.counter == 1 %} checked="checked" {% endif %}>
        <label for="exam{{ exam.id }}">{{ exam.start}}</label>
    {% endfor %}

<p>Agar tayyot bo'lsangiz boshlash tugmasini bosing.</p>

    {% csrf_token %}

<input type="submit" value="Boshlash" />
</form>


{% endif %}

{% else %}
Sizda Savollar toifasi o'rnatilmagan. Iltimos Administrator (033) ga murojat qiling<br>
{% endif %}

  <a href="/logout/">Chiqish.</a>
{% else %}
  <a href="/login/">Iltimos birinchi tizimga kiring.</a>
{% endif %}
