{% extends 'base.html' %}
{% block content %}
<style>
.col-xs-1 {
    width: 3.33333333%;
}
label {
    font-weight:400;
}
.pages a {
    padding: 10px;
}
.pages {
    margin-top: 30px;
}
.done {
    border-bottom: 5px solid;
}
.container {
    max-width: 800px;
}
</style>
<p id="time_left">...</p>
<h3>{{ question_no }}. {{ question.text }}</h3>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'tanla' question_no %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type="{{type}}" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"
           {% for c in choosen %}
           {% if choice.id == c %} checked="checked" {% endif %}
           {% endfor %}/>
    <label for="choice{{ forloop.counter }}">{{ choice.text }}</label><br>
    {% endfor %}
    <p>{{error_message|default:""}}</p>
    <div class="text-center"><input type="submit" class="btn btn-success" value="Tanla" /></div>
</form>
<div class="text-center pages">
    {% if prev %}<a class="btn btn-default btn-sm" href="{% url 'test' prev %}">Avvalgisi</a>{% endif %}
    <!--<div class="pages">-->
        {% for question in questions %}
        <!--<div class="col-xs-1">-->
        <a {% if question %}class="done"{% endif %} href="{% url 'test' forloop.counter %}">
            {{ forloop.counter }}
        </a>

    <!--</div>-->
    {% endfor %}
    <!--</div>-->
    {% if next %}<a class="btn btn-default btn-sm" href="{% url 'test' next %}">Keyingisi</a>{% endif %}
</div>
<script>var distance={{ time_left }};</script>
<script src="/static/time.js"></script>
{% endblock %}
